body{
	background-color: black;
	padding: 80px;
	font-family: 'Righteous', cursive;
	color: white;
}


h1 {
	color: white;
	text-align: center;
}

h2 {
	color: whitesmoke;
}


.big-size {
	width: 60%;
	height: 700px;
	object-fit: cover;
}

.images {
	width: 30%;
	height: 300px;
	object-fit: cover;
}

.elements-center {
	text-align: center;
}


div {
	background-color: #EAC4D5;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	border: 2px solid white;
}

.deux {
	background-color: #E88873;
}

.trois {
	background-color: #BCB6FF;
}

.quatre {
	background-color: #FFA9A3;

}
.elements-aligned {
	display: flex;
	justify-content: space-around;
}

.navigation-aligned {
	display: flex;
	justify-content: space-around;
	padding: 30px;
}


a {
	color: whitesmoke;
	text-decoration: none;
}
a:hover { 
	color: #BCB6FF;
	font-size: 22px;
}
